@import "tailwindcss";

:root {
  --background: #090d16;
  --foreground: #f8fafc;
  color-scheme: dark;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html,
body {
  background-color: #090d16 !important;
  color: #f8fafc !important;
  color-scheme: dark !important;
  min-height: 100%;
}
